body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url(https://img.jagranjosh.com/images/2022/September/692022/Countries%20and%20Currencies%20of%20the%20World.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.converter {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

button {
    margin-top: 10px;
}

#result {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}